header {
    width: 100%;
}
/* Header Logo */
.header-content {
    display: flex;
    gap: 40px;
}

.logo-header {
    width: 20%;
    position: relative;
    top: 80px;
    left: 120px;
}

.linha-header {
    position: relative;
    top: 132px;
    left: 140px;
}
/* Header Logo */

/* Header Nav */
h1 {
    color: #CFA481;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
}


.header-text {
    height: 40vh;
    display: inline-block;
    position: relative;
    top: 100px;
    left: 140px;
}

.header-links {
    height: 40vh;
    position:relative;
    top: 120px;
    left: 600px;
    text-transform: uppercase;
    text-align: end;
    color:#E8DFD6;
    display: inline-block;
    column-count: 1;
}

.button-header {
    border: 1px solid;
    padding: 2px 4px;
}
